Thumbs.db
*.scc
*.dat
*.fdb
*.nfo
*.bak
*.aspr*
*.hlp
*.chm
*.lnk
*.log
*.bin
*.db
*.dll
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.txt
*.ocx
*.tlb
*.tmp
*.oca
*.iss
*.ddf
*.bat
*.lst
*.rar
*.zip
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.pdf
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.lib
*.sbr
